# Clustering through clusters
1. Let's select characteristic clusters in the data via SOM
2. use the most popular class as the only one for the cluster
3. Calculate the clustering accuracy

### Data
* https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz

### Connecting libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn_som.som import SOM
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler

### Loading Data

In [ ]:
train_data = pd.read_csv('https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz')
train_data.head()

,total_area,ceiling_height,rooms,living_area,price,day_mean,doy_108,price_locality_name_median,target
0,105.000000,3.00,3,50.000000,95000,2.456912,0,2.261905,1
1,40.000000,3.00,1,19.200001,25000,3.028689,0,1.000000,2
2,37.599998,2.64,0,19.000000,26000,3.091993,0,0.619048,2
3,80.000000,3.00,3,49.000000,35000,3.101010,0,1.250000,2
4,100.000000,3.00,3,49.000000,80000,2.495468,0,1.904762,3

### Data normalization
Normalize all values to the segment [0;1], remove the target from the data

In [ ]:
train_data_mm = pd.DataFrame(MinMaxScaler().fit_transform(train_data[train_data.columns[:-1]]))

In [ ]:
train_data_mm.head()

          0         1    2         3         4         5    6         7
0  0.097782  0.333333  0.6  0.108352  0.002078  0.390327  0.0  0.002071
1  0.032258  0.333333  0.2  0.038826  0.000522  0.599951  0.0  0.000893
2  0.029839  0.213333  0.0  0.038375  0.000544  0.623160  0.0  0.000538
3  0.072581  0.333333  0.6  0.106095  0.000744  0.626465  0.0  0.001127
4  0.092742  0.333333  0.6  0.106095  0.001745  0.404462  0.0  0.001738

### Self Organizing Maps
Let's get clusters on all data

In [ ]:
np.random.seed(42)
som = SOM(m=40, n=40, dim=len(train_data_mm.columns), max_iter=1000)
som_labels = som.fit_predict(np.array(train_data_mm), epochs=100, shuffle=False)

Assign the data to a cluster, return target

In [ ]:
train_data_mm["label"] = som_labels
train_data_mm["target"] = train_data["target"]

### Class Prediction
Selecting the most popular class in the cluster

In [ ]:
groups = train_data_mm.groupby(["label","target"]).count()[0]
clusters_popular = [0]*len(som_labels)
clusters_class = [0]*len(som_labels)
for group in groups.iteritems():
    items = group[1]
    cluster = group[0][0]
    if items > clusters_popular[cluster]:
        clusters_popular[cluster] = items
        clusters_class[cluster] = group[0][1]
train_data_mm["target_pred"] = train_data_mm["label"].apply(lambda x:clusters_class[x])

In [ ]:
train_data_mm.head(30)

,0,1,2,3,4,5,6,7,label,target,target_pred
0,0.097782,0.333333,0.6,0.108352,0.002078,0.390327,0.0,0.002071,1281,1,5
1,0.032258,0.333333,0.2,0.038826,0.000522,0.599951,0.0,0.000893,1127,2,2
2,0.029839,0.213333,0.0,0.038375,0.000544,0.623160,0.0,0.000538,1370,2,2
3,0.072581,0.333333,0.6,0.106095,0.000744,0.626465,0.0,0.001127,1322,2,5
4,0.092742,0.333333,0.6,0.106095,0.001745,0.404462,0.0,0.001738,1281,3,5
5,0.029234,0.213333,0.2,0.029345,0.000522,0.528112,0.0,0.000516,1290,2,1
6,0.026210,0.266667,0.2,0.038826,0.000300,0.654970,0.0,0.000960,1288,3,3
7,0.052419,0.266667,0.4,0.063205,0.000611,0.546054,0.0,0.001190,1367,3,3
8,0.052419,0.333333,0.4,0.072235,0.001478,0.643747,0.0,0.001471,1205,2,5
9,0.026210,0.250000,0.2,0.038826,0.000344,0.604935,0.0,0.000650,1288,2,3
10,0.028226,0.300000,0.2,0.036117,0.000522,0.572191,0.0,0.000857,1168,1,1
11,0.112903,0.333333,0.6,0.148984,0.002856,0.381480,0.0,0.002849,1281,2,5
12,0.034274,0.233333,0.2,0.038826,0.000522,0.582602,0.0,0.000975,1288,1,3
13,0.038306,0.213333,0.4,0.063205,0.000744,0.528604,0.0,0.000738,1366,5,2
14,0.023690,0.233333,0.2,0.028217,0.000300,0.654649,0.0,0.000784,1369,5,2
15,0.032258,0.233333,0.0,0.040632,0.000856,0.493248,0.0,0.000849,1249,2,1
16,0.082661,0.233333,0.6,0.124153,0.001522,0.390255,0.0,0.001516,1202,4,2
17,0.027218,0.213333,0.2,0.040632,0.000589,0.602488,0.0,0.000582,1369,2,2
18,0.043347,0.213333,0.4,0.051919,0.000856,0.547175,0.0,0.000849,1405,4,2
19,0.087702,0.333333,0.6,0.097065,0.001411,0.546389,0.0,0.002127,1281,4,5
20,0.027218,0.233333,0.2,0.036117,0.000411,0.500014,0.0,0.000772,1249,4,1
21,0.049395,0.233333,0.6,0.060948,0.000744,0.400228,0.0,0.001380,1202,3,2
22,0.038306,0.213333,0.4,0.058691,0.000856,0.478152,0.0,0.000849,1364,4,1
23,0.031250,0.333333,0.4,0.056433,0.000744,0.639797,0.0,0.000738,1205,2,5
24,0.066532,0.213333,0.6,0.108352,0.001189,0.202068,0.0,0.001182,1202,4,2
25,0.057460,0.160000,0.6,0.100451,0.001033,0.592253,0.0,0.001027,1243,5,3
26,0.050403,0.233333,0.6,0.106095,0.000744,0.557109,0.0,0.001216,1243,4,3
27,0.032258,0.213333,0.4,0.054176,0.000744,0.467593,0.0,0.000738,1364,2,1
28,0.056452,0.333333,0.6,0.085779,0.000678,0.516915,0.0,0.001109,1281,5,5
29,0.030242,0.266667,0.2,0.036117,0.000633,0.612347,0.0,0.000893,1288,2,3

### Prediction Quality Assessment

In [ ]:
print ("SOM: ", np.exp(np.abs(train_data_mm["target_pred"] - train_data_mm["target"])).sum() / len(train_data_mm))

SOM:  7.467475430187634

In [ ]:
print ("Benchmark: ", np.exp(np.abs(3 - train_data_mm["target"])).sum() / len(train_data_mm))

In [ ]:
print ("Benchmark by day: ", np.exp(np.abs(round(train_data["day_mean"]) - train_data["target"])).sum() / len(train_data))