# Gaussian Mixture Model
### Data
* https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz

### Library Import

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.mixture import GaussianMixture

### Data Loading

In [ ]:
train_data = pd.read_csv('https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz')
train_data.head()

,total_area,ceiling_height,rooms,living_area,price,day_mean,doy_108,price_locality_name_median,target
0,105.000000,3.00,3,50.000000,95000,2.456912,0,2.261905,1
1,40.000000,3.00,1,19.200001,25000,3.028689,0,1.000000,2
2,37.599998,2.64,0,19.000000,26000,3.091993,0,0.619048,2
3,80.000000,3.00,3,49.000000,35000,3.101010,0,1.250000,2
4,100.000000,3.00,3,49.000000,80000,2.495468,0,1.904762,3

### Sample Splitting

In [ ]:
(train, test) = train_test_split(train_data, test_size=0.2)
train = pd.DataFrame(train)
test = pd.DataFrame(test)

### Gaussian Mixture

Identifying normally distributed subsets from the data

In [ ]:
clusters_total = 100
gmm = GaussianMixture(n_components=clusters_total, random_state=0,
                      verbose=2, max_iter=100, n_init=5).fit(train)

Initialization 0
  Iteration 10	 time lapse 184.40539s	 ll change 1.07318
  Iteration 20	 time lapse 168.77093s	 ll change 0.09888
  Iteration 30	 time lapse 185.61171s	 ll change 0.24080
  Iteration 40	 time lapse 210.46708s	 ll change 0.01188
  Iteration 50	 time lapse 229.41799s	 ll change 0.00061
Initialization converged: True	 time lapse 978.67411s	 ll -2.11253
Initialization 1
  Iteration 10	 time lapse 205.88659s	 ll change 0.45162
  Iteration 20	 time lapse 227.02486s	 ll change 0.11236
  Iteration 30	 time lapse 262.08291s	 ll change 0.02074
  Iteration 40	 time lapse 253.25231s	 ll change 0.00186
Initialization converged: True	 time lapse 972.99748s	 ll -3.01838
Initialization 2
  Iteration 10	 time lapse 312.10462s	 ll change 0.94808
  Iteration 20	 time lapse 268.00880s	 ll change 0.11301
  Iteration 30	 time lapse 212.54573s	 ll change 0.02201
  Iteration 40	 time lapse 189.65110s	 ll change 0.01164
Initialization converged: True	 time lapse 1058.42388s	 ll -2.03476
Initialization 3
  Iteration 10	 time lapse 205.84190s	 ll change 0.41933
  Iteration 20	 time lapse 191.96166s	 ll change 0.14265
  Iteration 30	 time lapse 188.93361s	 ll change 0.03139
  Iteration 40	 time lapse 187.67358s	 ll change 0.01352
Initialization converged: True	 time lapse 925.00745s	 ll -2.70174
Initialization 4
  Iteration 10	 time lapse 199.12473s	 ll change 0.26932
  Iteration 20	 time lapse 185.99499s	 ll change 0.07480
  Iteration 30	 time lapse 165.61470s	 ll change 0.34831
Initialization converged: True	 time lapse 684.66547s	 ll -2.12683

Calculate the "purity" of clustering: how popular is the most popular class in each cluster

In [ ]:
train["target_cluster"] = gmm.predict(train)

In [ ]:
groups = train.groupby(["target_cluster","target"]).count()["total_area"]
clusters_items = [0]*clusters_total
clusters_popular = [0]*clusters_total
clusters_class = [0]*clusters_total
for group in groups.iteritems():
    print (group)
    items = group[1]
    cluster = group[0][0]
    clusters_items[cluster] += items
    if items > clusters_popular[cluster]:
        clusters_popular[cluster] = items
        clusters_class[cluster] = group[0][1]
purity = 0
for i in range(0, clusters_total):
    purity += clusters_popular[i] / clusters_items[i] / clusters_total
print("Purity: ", purity) # 0.51

((0, 1), 701)
((0, 2), 1100)
((0, 3), 1001)
((0, 4), 702)
((0, 5), 1027)
((1, 5), 1)
((2, 1), 4)
((2, 5), 2)
((3, 1), 93)
((3, 2), 103)
((3, 3), 189)
((3, 4), 260)
((4, 1), 1)
((4, 2), 1)
((5, 1), 12)
((5, 2), 20)
((5, 3), 29)
((5, 4), 67)
((5, 5), 223)
((6, 1), 795)
((6, 2), 1118)
((6, 3), 1194)
((6, 4), 820)
((6, 5), 940)
((7, 2), 3)
((7, 3), 1)
((7, 4), 4)
((7, 5), 3)
((8, 3), 1)
((9, 1), 679)
((9, 2), 849)
((9, 3), 1388)
((9, 4), 1435)
((10, 2), 1)
((10, 3), 3)
((10, 4), 7)
((10, 5), 8)
((11, 5), 1)
((12, 1), 236)
((12, 2), 258)
((12, 3), 619)
((12, 4), 548)
((12, 5), 992)
((13, 1), 2)
((13, 2), 1)
((13, 3), 6)
((13, 4), 1)
((13, 5), 11)
((14, 1), 3489)
((14, 2), 3927)
((14, 3), 3148)
((14, 4), 1813)
((14, 5), 2124)
((15, 3), 1)
((16, 1), 1)
((16, 2), 1)
((16, 3), 1)
((16, 4), 2)
((16, 5), 2)
((17, 1), 17)
((17, 2), 14)
((17, 3), 33)
((17, 4), 52)
((17, 5), 183)
((18, 1), 8300)
((18, 2), 11393)
((18, 3), 10493)
((18, 4), 6787)
((18, 5), 11164)
((19, 1), 2)
((19, 4), 1)
((19, 5), 1)
((20, 1), 73)
((20, 2), 108)
((20, 3), 111)
((20, 4), 72)
((20, 5), 141)
((21, 1), 2)
((22, 1), 173)
((22, 2), 175)
((22, 3), 143)
((22, 4), 109)
((23, 1), 195)
((23, 2), 204)
((23, 3), 521)
((23, 4), 378)
((23, 5), 531)
((24, 1), 5)
((24, 2), 5)
((24, 3), 19)
((24, 4), 20)
((24, 5), 73)
((25, 1), 77)
((25, 2), 99)
((25, 3), 172)
((25, 4), 223)
((25, 5), 9)
((26, 1), 18)
((26, 2), 32)
((26, 3), 63)
((26, 4), 112)
((26, 5), 330)
((27, 1), 4)
((27, 3), 10)
((27, 4), 6)
((27, 5), 21)
((28, 1), 2379)
((28, 2), 2811)
((28, 3), 2427)
((28, 4), 1425)
((28, 5), 1727)
((29, 1), 5418)
((29, 2), 5357)
((29, 3), 4270)
((29, 4), 2235)
((29, 5), 2924)
((30, 1), 2)
((30, 2), 2)
((30, 4), 1)
((30, 5), 1)
((31, 1), 67)
((31, 2), 96)
((31, 3), 208)
((31, 4), 137)
((31, 5), 142)
((32, 2), 1)
((33, 1), 311)
((33, 2), 379)
((33, 3), 759)
((33, 4), 499)
((33, 5), 672)
((34, 1), 1)
((34, 3), 2)
((34, 4), 1)
((35, 1), 12)
((35, 2), 11)
((35, 3), 30)
((35, 4), 44)
((35, 5), 161)
((36, 1), 2522)
((36, 2), 71)
((36, 3), 136)
((36, 4), 75)
((36, 5), 122)
((37, 2), 1)
((38, 1), 20)
((38, 2), 30)
((38, 3), 77)
((38, 4), 138)
((38, 5), 436)
((39, 1), 4673)
((39, 2), 4810)
((39, 3), 3648)
((39, 4), 2078)
((39, 5), 2603)
((40, 1), 55)
((40, 2), 60)
((40, 3), 157)
((40, 4), 192)
((40, 5), 539)
((41, 2), 1)
((41, 5), 4)
((42, 1), 50)
((42, 2), 47)
((42, 3), 146)
((42, 4), 184)
((42, 5), 512)
((43, 1), 1)
((43, 3), 1)
((43, 5), 1)
((44, 1), 1)
((44, 4), 1)
((44, 5), 1)
((45, 2), 1)
((45, 4), 2)
((45, 5), 6)
((46, 1), 37)
((46, 2), 47)
((46, 3), 93)
((46, 4), 101)
((46, 5), 175)
((47, 1), 3)
((47, 3), 1)
((47, 5), 1)
((48, 2), 1)
((49, 1), 1467)
((49, 2), 1776)
((49, 3), 1877)
((49, 4), 1077)
((49, 5), 1337)
((50, 1), 1)
((50, 3), 2)
((50, 4), 3)
((50, 5), 2)
((51, 1), 3)
((51, 2), 5)
((51, 3), 18)
((51, 4), 19)
((51, 5), 131)
((52, 1), 510)
((52, 2), 766)
((52, 3), 897)
((52, 4), 595)
((52, 5), 792)
((53, 1), 1329)
((53, 2), 1933)
((53, 3), 2110)
((53, 4), 1324)
((53, 5), 1891)
((54, 4), 1)
((55, 1), 100)
((55, 2), 125)
((55, 3), 307)
((55, 4), 336)
((55, 5), 706)
((56, 4), 1)
((56, 5), 1)
((57, 1), 863)
((57, 2), 1114)
((57, 3), 1231)
((57, 4), 772)
((57, 5), 989)
((58, 1), 3)
((58, 2), 5)
((58, 3), 3)
((58, 4), 5)
((59, 1), 4)
((59, 2), 10)
((59, 3), 23)
((59, 4), 29)
((59, 5), 79)
((60, 2), 1)
((60, 3), 2)
((60, 5), 7)
((61, 1), 40)
((61, 2), 47)
((61, 3), 114)
((61, 4), 151)
((61, 5), 403)
((62, 1), 1735)
((62, 2), 2854)
((62, 3), 3158)
((62, 4), 2024)
((62, 5), 3385)
((63, 1), 24)
((63, 2), 23)
((63, 3), 61)
((63, 4), 66)
((63, 5), 140)
((64, 3), 1)
((64, 4), 1)
((64, 5), 2)
((65, 1), 1)
((65, 2), 2)
((65, 4), 1)
((65, 5), 3)
((66, 1), 2)
((66, 2), 2)
((66, 5), 3)
((67, 1), 4)
((67, 2), 1)
((67, 3), 6)
((67, 4), 9)
((67, 5), 56)
((68, 1), 460)
((68, 2), 485)
((68, 3), 968)
((68, 4), 648)
((68, 5), 777)
((69, 1), 314)
((69, 2), 379)
((69, 3), 774)
((69, 4), 532)
((69, 5), 770)
((70, 1), 1)
((70, 4), 1)
((70, 5), 4)
((71, 1), 1)
((72, 1), 32)
((72, 2), 28)
((72, 3), 27)
((72, 4), 14)
((72, 5), 21)
((73, 1), 99)
((73, 2), 172)
((73, 3), 341)
((73, 4), 316)
((73, 5), 661)
((74, 3), 1)
((74, 5), 4)
((75, 1), 2221)
((75, 2), 2314)
((75, 3), 1848)
((75, 4), 1029)
((75, 5), 1255)
((76, 1), 219)
((76, 2), 235)
((76, 3), 580)
((76, 4), 480)
((76, 5), 671)
((77, 1), 127)
((77, 2), 186)
((77, 3), 528)
((77, 4), 435)
((77, 5), 868)
((78, 1), 2)
((78, 2), 1)
((78, 3), 7)
((78, 4), 3)
((78, 5), 42)
((79, 1), 898)
((79, 2), 1484)
((79, 3), 1772)
((79, 4), 1142)
((79, 5), 1371)
((80, 4), 1)
((80, 5), 2)
((81, 1), 4218)
((81, 2), 4911)
((81, 3), 4238)
((81, 4), 2663)
((81, 5), 2572)
((82, 1), 7130)
((82, 2), 6084)
((82, 3), 4166)
((82, 4), 2300)
((82, 5), 2953)
((83, 3), 1)
((84, 2), 1)
((84, 3), 6)
((84, 4), 6)
((84, 5), 17)
((85, 2), 1)
((85, 5), 2)
((86, 1), 737)
((86, 2), 1022)
((86, 3), 837)
((86, 4), 541)
((86, 5), 936)
((87, 1), 9)
((87, 2), 7)
((87, 3), 27)
((87, 4), 25)
((88, 1), 93)
((88, 2), 117)
((88, 3), 234)
((88, 4), 192)
((88, 5), 292)
((89, 1), 1)
((89, 2), 1)
((89, 5), 4)
((90, 1), 4197)
((90, 2), 4439)
((90, 3), 3680)
((90, 4), 2093)
((90, 5), 3028)
((91, 1), 556)
((91, 2), 702)
((91, 3), 605)
((91, 4), 380)
((91, 5), 314)
((92, 5), 5900)
((93, 2), 3)
((93, 3), 2)
((93, 4), 1)
((93, 5), 1)
((94, 1), 2)
((94, 2), 2)
((94, 3), 6)
((94, 4), 4)
((94, 5), 2)
((95, 1), 3)
((95, 2), 3)
((95, 3), 3)
((95, 4), 2)
((95, 5), 2)
((96, 3), 1)
((97, 1), 2)
((97, 2), 2)
((97, 3), 11)
((97, 4), 11)
((97, 5), 54)
((98, 1), 68)
((98, 2), 84)
((98, 3), 77)
((98, 4), 67)
((98, 5), 106)
((99, 1), 172)
((99, 2), 170)
((99, 3), 289)
((99, 4), 228)
((99, 5), 116)
Чистота:  0.5069433512158195

### Clustering Verification

Use the most popular class of a cluster for the classification of the test sample

In [ ]:
test["target_cluster"] = gmm.predict(test)

In [ ]:
test["target_pred"] = test["target_cluster"].apply(lambda x:clusters_class[x])

$$metric = \frac{1}l \sum_{i=0}^{l}{exp^{|prediction_i - target_i|}}$$

In [ ]:
print ("GMM: ", np.exp(np.abs(test["target_pred"] - test["target"])).sum() / len(test)) # 7

GMM:  6.987936168218524

In [ ]:
print("Benchmark: ", np.exp(np.abs(3 - test["target"])).sum() / len(test))