# K-Means
### Data
* https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz

### Library Import

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans

### Data Loading

If the data does not fit in memory, you can keep only the most significant parameters and reduce the number of attributes to 20-30

In [ ]:
train_data = pd.read_csv('https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz')
train_data.head()

,total_area,ceiling_height,rooms,living_area,price,day_mean,doy_108,price_locality_name_median,target
0,105.000000,3.00,3,50.000000,95000,2.456912,0,2.261905,1
1,40.000000,3.00,1,19.200001,25000,3.028689,0,1.000000,2
2,37.599998,2.64,0,19.000000,26000,3.091993,0,0.619048,2
3,80.000000,3.00,3,49.000000,35000,3.101010,0,1.250000,2
4,100.000000,3.00,3,49.000000,80000,2.495468,0,1.904762,3

### Sample Splitting

In [ ]:
(train, test) = train_test_split(train_data, test_size=0.2)
train = pd.DataFrame(train)
test = pd.DataFrame(test)

### K-Means

In [ ]:
clusters_total = 100
kmeans = KMeans(n_clusters=clusters_total, random_state=0, max_iter=100, n_init=10).fit(train)

Calculate the "purity" of clustering: how popular is the most popular class in each cluster

In [ ]:
train["target_cluster"] = kmeans.predict(train)

In [ ]:
groups = train.groupby(["target_cluster","target"]).count()["total_area"]
clusters_items = [0]*clusters_total
clusters_popular = [0]*clusters_total
clusters_class = [0]*clusters_total
for group in groups.iteritems():
    print (group)
    items = group[1]
    cluster = group[0][0]
    clusters_items[cluster] += items
    if items > clusters_popular[cluster]:
        clusters_popular[cluster] = items
        clusters_class[cluster] = group[0][1]
purity = 0
for i in range(0, clusters_total):
    purity += clusters_popular[i] / clusters_items[i] / clusters_total
print("Purity: ", purity)

((0, 1), 178)
((0, 2), 230)
((0, 3), 647)
((0, 4), 516)
((0, 5), 1016)
((1, 5), 1)
((2, 1), 3201)
((2, 2), 3173)
((2, 3), 2441)
((2, 4), 1391)
((2, 5), 1618)
((3, 5), 2)
((4, 1), 5)
((4, 2), 14)
((4, 3), 12)
((4, 4), 30)
((4, 5), 138)
((5, 1), 7)
((5, 2), 14)
((5, 3), 43)
((5, 4), 60)
((5, 5), 233)
((6, 2), 1)
((7, 1), 1)
((7, 3), 3)
((7, 4), 5)
((7, 5), 14)
((8, 1), 1041)
((8, 2), 1461)
((8, 3), 1615)
((8, 4), 1171)
((8, 5), 1284)
((9, 1), 2)
((10, 2), 1)
((10, 3), 1)
((10, 4), 1)
((10, 5), 5)
((11, 1), 59)
((11, 2), 57)
((11, 3), 127)
((11, 4), 175)
((11, 5), 478)
((12, 2), 8)
((12, 3), 11)
((12, 4), 12)
((12, 5), 57)
((13, 1), 4028)
((13, 2), 5178)
((13, 3), 4726)
((13, 4), 3162)
((13, 5), 5059)
((14, 1), 3)
((14, 2), 2)
((14, 3), 4)
((14, 4), 2)
((14, 5), 5)
((15, 1), 4)
((15, 2), 4)
((15, 3), 15)
((15, 4), 15)
((15, 5), 77)
((16, 1), 1)
((17, 1), 1)
((17, 2), 1)
((18, 1), 229)
((18, 2), 229)
((18, 3), 570)
((18, 4), 444)
((18, 5), 580)
((19, 1), 4121)
((19, 2), 4536)
((19, 3), 3799)
((19, 4), 2129)
((19, 5), 2520)
((20, 1), 17)
((20, 2), 37)
((20, 3), 75)
((20, 4), 120)
((20, 5), 389)
((21, 1), 3)
((21, 2), 5)
((21, 3), 9)
((21, 4), 13)
((21, 5), 59)
((22, 3), 1)
((23, 1), 6)
((23, 2), 9)
((23, 3), 24)
((23, 4), 36)
((23, 5), 115)
((24, 1), 106)
((24, 2), 138)
((24, 3), 367)
((24, 4), 415)
((24, 5), 828)
((25, 1), 2285)
((25, 2), 2742)
((25, 3), 2901)
((25, 4), 1817)
((25, 5), 2116)
((26, 1), 17)
((26, 2), 12)
((26, 3), 39)
((26, 4), 53)
((26, 5), 209)
((27, 3), 1)
((27, 4), 1)
((27, 5), 1)
((28, 1), 1)
((28, 4), 3)
((28, 5), 4)
((29, 3), 1)
((30, 1), 2)
((30, 3), 1)
((30, 5), 1)
((31, 1), 6951)
((31, 2), 6884)
((31, 3), 5563)
((31, 4), 3423)
((31, 5), 4940)
((32, 1), 3)
((32, 2), 1)
((32, 3), 2)
((32, 4), 3)
((32, 5), 4)
((33, 1), 131)
((33, 2), 226)
((33, 3), 475)
((33, 4), 408)
((33, 5), 789)
((34, 1), 1)
((34, 3), 2)
((35, 2), 1)
((35, 3), 1)
((35, 4), 3)
((35, 5), 8)
((36, 1), 19)
((36, 2), 32)
((36, 3), 75)
((36, 4), 102)
((36, 5), 324)
((37, 1), 6)
((37, 2), 3)
((37, 3), 12)
((37, 4), 13)
((37, 5), 75)
((38, 1), 267)
((38, 2), 289)
((38, 3), 678)
((38, 4), 582)
((38, 5), 1077)
((39, 1), 1266)
((39, 2), 1809)
((39, 3), 2114)
((39, 4), 1300)
((39, 5), 2526)
((40, 1), 16)
((40, 2), 24)
((40, 3), 44)
((40, 4), 83)
((40, 5), 284)
((41, 1), 573)
((41, 2), 647)
((41, 3), 1198)
((41, 4), 813)
((41, 5), 963)
((42, 2), 1)
((42, 5), 4)
((43, 1), 27)
((43, 2), 22)
((43, 3), 82)
((43, 4), 142)
((43, 5), 440)
((44, 1), 17)
((44, 2), 12)
((44, 3), 31)
((44, 4), 57)
((44, 5), 200)
((45, 1), 6)
((45, 2), 11)
((45, 3), 36)
((45, 4), 38)
((45, 5), 110)
((46, 1), 65)
((46, 2), 71)
((46, 3), 171)
((46, 4), 207)
((46, 5), 581)
((47, 1), 71)
((47, 2), 100)
((47, 3), 250)
((47, 4), 249)
((47, 5), 556)
((48, 1), 1)
((48, 2), 1)
((49, 1), 6963)
((49, 2), 6691)
((49, 3), 5084)
((49, 4), 2833)
((49, 5), 3609)
((50, 1), 5)
((50, 2), 3)
((50, 3), 9)
((50, 4), 11)
((50, 5), 25)
((51, 1), 6274)
((51, 2), 6259)
((51, 3), 4687)
((51, 4), 2712)
((51, 5), 3464)
((52, 1), 3034)
((52, 2), 3641)
((52, 3), 3157)
((52, 4), 1933)
((52, 5), 2254)
((53, 1), 1)
((53, 3), 2)
((53, 5), 1)
((54, 2), 1)
((55, 4), 1)
((55, 5), 1)
((56, 1), 385)
((56, 2), 464)
((56, 3), 871)
((56, 4), 593)
((56, 5), 771)
((57, 1), 2)
((57, 2), 1)
((57, 3), 6)
((57, 4), 4)
((57, 5), 20)
((58, 1), 94)
((58, 2), 124)
((58, 3), 315)
((58, 4), 288)
((58, 5), 623)
((59, 1), 47)
((59, 2), 51)
((59, 3), 163)
((59, 4), 190)
((59, 5), 562)
((60, 1), 1208)
((60, 2), 1608)
((60, 3), 1877)
((60, 4), 1144)
((60, 5), 1432)
((61, 1), 2)
((61, 2), 1)
((61, 3), 2)
((61, 4), 1)
((61, 5), 6)
((62, 2), 1)
((62, 4), 3)
((62, 5), 16)
((63, 1), 2)
((63, 2), 3)
((63, 3), 3)
((63, 4), 4)
((63, 5), 12)
((64, 1), 41)
((64, 2), 44)
((64, 3), 156)
((64, 4), 160)
((64, 5), 405)
((65, 1), 403)
((65, 2), 648)
((65, 3), 896)
((65, 4), 491)
((65, 5), 846)
((66, 1), 358)
((66, 2), 438)
((66, 3), 913)
((66, 4), 635)
((66, 5), 869)
((67, 1), 2)
((67, 2), 1)
((67, 3), 6)
((67, 4), 11)
((67, 5), 35)
((68, 1), 4185)
((68, 2), 4050)
((68, 3), 3178)
((68, 4), 1820)
((68, 5), 2412)
((69, 1), 17)
((69, 2), 23)
((69, 3), 60)
((69, 4), 66)
((69, 5), 239)
((70, 1), 6)
((70, 2), 10)
((70, 3), 13)
((70, 4), 28)
((70, 5), 115)
((71, 2), 1)
((71, 3), 1)
((71, 4), 1)
((72, 2), 2)
((72, 3), 1)
((72, 5), 5)
((73, 1), 9)
((73, 2), 25)
((73, 3), 54)
((73, 4), 62)
((73, 5), 290)
((74, 1), 246)
((74, 2), 268)
((74, 3), 648)
((74, 4), 530)
((74, 5), 758)
((75, 4), 1)
((75, 5), 1)
((76, 1), 12)
((76, 2), 10)
((76, 3), 18)
((76, 4), 24)
((76, 5), 111)
((77, 1), 3)
((77, 2), 2)
((77, 3), 7)
((77, 4), 2)
((77, 5), 12)
((78, 1), 3327)
((78, 2), 3796)
((78, 3), 3225)
((78, 4), 2088)
((78, 5), 3130)
((79, 4), 1)
((80, 1), 1944)
((80, 2), 2739)
((80, 3), 2700)
((80, 4), 1942)
((80, 5), 3225)
((81, 1), 109)
((81, 2), 130)
((81, 3), 277)
((81, 4), 232)
((81, 5), 328)
((82, 1), 2)
((82, 4), 1)
((83, 1), 7)
((83, 2), 10)
((83, 3), 24)
((83, 4), 33)
((83, 5), 153)
((84, 1), 10)
((84, 2), 9)
((84, 3), 17)
((84, 4), 30)
((84, 5), 91)
((85, 1), 2)
((85, 2), 3)
((85, 3), 5)
((85, 4), 6)
((85, 5), 25)
((86, 1), 4)
((86, 2), 5)
((86, 3), 4)
((86, 4), 11)
((86, 5), 36)
((87, 1), 2291)
((87, 2), 2554)
((87, 3), 2066)
((87, 4), 1156)
((87, 5), 1342)
((88, 2), 2)
((88, 3), 1)
((88, 4), 1)
((88, 5), 15)
((89, 3), 1)
((90, 1), 591)
((90, 2), 933)
((90, 3), 1113)
((90, 4), 780)
((90, 5), 1015)
((91, 1), 4)
((91, 2), 6)
((91, 3), 16)
((91, 4), 23)
((91, 5), 91)
((92, 1), 1195)
((92, 2), 1569)
((92, 3), 1281)
((92, 4), 764)
((92, 5), 971)
((93, 2), 1)
((93, 3), 1)
((93, 5), 8)
((94, 5), 2)
((95, 1), 433)
((95, 2), 559)
((95, 3), 770)
((95, 4), 371)
((95, 5), 567)
((96, 1), 1)
((96, 2), 1)
((96, 3), 1)
((96, 4), 3)
((96, 5), 1)
((97, 1), 38)
((97, 2), 48)
((97, 3), 96)
((97, 4), 101)
((97, 5), 180)
((98, 1), 39)
((98, 2), 57)
((98, 3), 128)
((98, 4), 149)
((98, 5), 357)
((99, 1), 1)
((99, 2), 1)
((99, 3), 1)
((99, 5), 10)
Чистота:  0.539046309573485

### Clustering Verification

Use the most popular class of a cluster for the classification of the test sample

In [ ]:
test["target_cluster"] = kmeans.predict(test)

In [ ]:
test["target_pred"] = test["target_cluster"].apply(lambda x:clusters_class[x])

$$metric = \frac{1}l \sum_{i=0}^{l}{exp^{|prediction_i - target_i|}}$$

In [ ]:
print("100-means: ", np.exp(np.abs(test["target_pred"] - test["target"])).sum() / len(test))

In [ ]:
print("Benchmark: ", np.exp(np.abs(3 - test["target"])).sum() / len(test))